<h2>Dashboard for {{= account.username}}</h2>
{{ if('undefined' !== typeof errors && errors.length) { }}
  <ul id="errors">
    {{ for(var i in errors) { }}
      <li class="error">{{= errors[i] }}</li>
    {{ } }}
  </ul>
{{ } }}

<div id='dashboard-container'>
  {{var tests = account.tests}}
  You have {{= tests.length}} tests in your queue.
  <table id='tests'>
    <tr>
      <th>URL</th>
      <th>Verified</th>
      <th></th>
    </tr>
    {{ for(var i = 0; i < tests.length; i++){ }}
    {{ var verified_string; if(tests[i].verified) { verified_string = '<span class="verified">verified</span>'; } else { verified_string = '<span class="unverified"><a href="/test/verify/'+tests[i]._id+'">verify now</a></span>'; } }}
      <tr>
        <td>{{= tests[i].host }}</td>
        <td>{{- verified_string }}</td>
        <td><a href='/dashboard'>run!</td>
      </tr>
    {{ } }}
  </table>
  <h3> Add a Test </h3>
  <form for='test' method='post' action='/test/new'>
    <label for='url'>URL </label>
    http://<input type='text' id='url' name='url'></input>
    <br />
    <label for='url'>pages to hit (one per line) </label>
    <textarea id='requests' name='requests' cols='80' rows='10'>
/
/blog
    </textarea>
    <input type='submit' value='Create Test'></input>
  </form>
</div>


