<p>Hailstorm is a load tester. You point it at your server, give it some URLs and a number of concurrent requests you want, and it unleashes the fury of the yetis upon your website.</p>

<a class="button" id="signup-btn" href="/register">Sign Up</a>
<a class="button" id="signup-btn" href="/login">Log In</a>
