<p>Hailstorm is a load tester. You point it at your server, give it some URLs and a number of concurrent requests you want, and it unleashes the fury of the yetis upon your website.</p>

<p>Please forgive the lack of functionality. 95% of the work happens behind the scenes and we haven't finished hooking it up to the front-end yet.</p>

<!--<a class="button" id="signup-btn" href="/signup">Sign Up</a>
<a class="button" id="signup-btn" href="/login">Log In</a>-->
