<html>
    <title>Hailstorm</title>
    <link rel="stylesheet" href="/fonts/wickedgrit.css" type="text/css" />
    <link rel="stylesheet" href="/fonts/svbasicmanual.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="/js/jquery-1.6.2.min.js"></script>
    <script src="/js/twitter.js"></script>
<head>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Hailstorm</h1>
            <p>your server will feel the wrath of the yeti</p>
            <p>(distributed load testing for <a href="http://nodeknockout.com/">node knockout</a>)</p>
        </div>
        <div id="follow">Follow Us</div>
        <div id="twitter">
            <a href="https://twitter.com/#!/micahflee">@micahflee</a>
            <a href="https://twitter.com/#!/legind">@legind</a>
            <a href="https://twitter.com/#!/cooperq">@cooperq</a>
            <a href="https://twitter.com/#!/tedsuo2">@tedsuo2</a>
        </div>
        <div id="vote"><iframe src="http://nodeknockout.com/iframe/h4ck-n-sl4sh" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe></div>
        <div id="nav">
          <a href="/">Home</a>
          {{ if(!logged_in) { }}
          <a href="/login">Login</a>
          <a href="/register">Create Account</a>
          {{ } }}
          <a href="/about">How Does It Work?</a>
          {{ if(logged_in) { }}
          <a href="/logout">Logout</a>
          {{ } }}
        </div>
        <div id="content">
            {{- body }}
        </div>
    </div>
</body>
</html>
