<html>
    <title>Hailstorm</title>
    <link rel="stylesheet" href="/fonts/wickedgrit.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
<head>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Hailstorm</h1>
            <p>your server will feel the wrath of the yeti</p>
            <p>(distributed load testing for the <a href="http://nodeknockout.com/">node knockout</a>)</p>
        </div>
    </div>



<div id="menu">
        {{= user }}
    </div>
    {{- body }}
</body>
</html>
