html
  head
    title Hailstorm - jade
    link(href="/fonts/wickedgrit.css", rel="stylesheet", type="text/css")
    link(href="/fonts/svbasicmanual.css", rel = "stylesheet", type = "text/css")
    link(href = "/css/style.css", rel = "stylesheet", type = "text/css")
    script(src = "/js/jquery-1.6.2.min.js")
    script(src = "/js/twitter.js")
  body
    #wrapper
      #header
        h1 Hailstorm
        p your server will feel the wrath of the yeti
        p
          \(distributed load testing for the
          a(href = "http//nodeknockout.com/") node knockout\)
      #follow Follow Us
      #twitter
        a(href = "https//twitter.com/#!/micahflee") @micahflee
        a(href = "https//twitter.com/#!/legind") @legind
        a(href = "https//twitter.com/#!/cooperq") @cooperq
        a(href = "https//twitter.com/#!/tedsuo2") @tedsuo2
      #content
        p= user 
        != body
