<h2>Login to the cold</h2>

{{ if(typeof(errors) !== 'undefined' && errors && errors.length) { }}
  <ul id="errors">
    {{ for(var i in errors) { }}
      <li class="error">{{= errors[i] }}</li>
    {{ } }}
  </ul>
{{ } }}

<form id="login" action="/login" method="post">
  <div id="login">
    <label for="username">Username</label>
    <input type="text" name="username" value="" />
  </div>
  <div id="password">
    <label for="password">Password</label>
    <input type="password" name="password" value="" />
  </div>
  <div id="submit">
    <input type="submit" value="Login" />
  </div>
</form>
