<h2>Register</h2>

{{ if('undefined' !== typeof errors && errors.length) { }}
  <ul id="errors">
    {{ for(var i in errors) { }}
      <li class="error">{{ errors[i] }}</li>
    {{ } }}
  </ul>
{{ } }}

<form action="/register" method="post">
  <div id="login">
    <label for="username">Username</label>
    <input type="text" name="username" value="" />
  </div>
  <div id="password">
    <label for="password">Password</label>
    <input type="password" name="password" value="" />
  </div>
  <div id="submit">
    <input type="submit" value="Register" />
  </div>
</form>
