<h2>Register</h2>

{{ if('undefined' !== typeof errors && errors.length) { }}
  <ul id="errors">
    {{ for(var i in errors) { }}
      <li class="error>{{ errors[i] }}</li>
    {{ } }}
  </ul>
{{ } }}

<form action="/register" method="post">
  <div id="login">
    <label for="{{ everyauth.password.loginFormFieldName }}">Login</label>
    <input type="text" name="{{ everyauth.password.loginFormFieldName }}" value="{{ userParams[everyauth.password.loginFormFieldName] }}" />
  </div>
  <div id="password">
    <label for="{{ everyauth.password.passwordFormFieldName }}">Password</label>
    <input type="password" name="{{ everyauth.password.passwordFormFieldName }}" value="{{ userParams[everyauth.password.passwordFormFieldName] }}" />
  </div>
  <div id="submit">
    <input type="submit" value="Register" />
  </div>
</form>
