<script type='text/javascript'>
  $(document).ready(function(){
    DNode.connect(function(remote){
      remote.handshake('{{= session_id}}', function(err){
        if(err){
          console.log(err);
          return;
        }
        var since = null;
        setInterval(function(){
          remote.report('{{= test_id}}', '{{= test_run_id}}', since, function(err, data){
            if(err){
              console.log(err);
            } else {
              update_data(data.report);
              chart_data();
              since = new Date(data.report.retreived_time);
            } 
          });
        }, 5000);
      });
    });
  });
</script>
<div id='container'>
<div style="text-align:center; padding: 100px;"><img src="/images/ajax-loader.gif" /></div></div>
