<script type='text/javascript'>
  $(document).ready(function(){
    DNode.connect(function(remote){
      remote.handshake('{{= session_id}}', function(err){
        if(err){
          console.log(err);
          return;
        }
        var since = null;
        var report_check = setInterval(function(){
          remote.report('{{= test_id}}', '{{= test_run_id}}', since, function(err, data){
            if(err){
              console.log(err);
            } else {
              console.log(data);
              update_data(data.report);
              chart_data();
              var continue_check = false;
              $.each(data.status, function(i, yeti){
                if(yeti.status.status == "attacking") continue_check = true;
              });
              if(!continue_check){
                clearInterval(report_check);
              } else {
                since = new Date(data.report.retreived_time);
              }
            } 
          });
        }, 5000);
      });
    });
  });
</script>
<div id='container'>
<div style="text-align:center; padding: 100px;"><img src="/images/ajax-loader.gif" /></div></div>
