<script type='text/javascript'>
  $(document).ready(function(){
    /*
    DNode.connect(function(remote){
      remote.report("123", function(resp){
        alert(resp);
      });
    });*/
    setInterval(function(){
      $.ajax({
        url: '/test/data/{{= test_id}}/{{= test_run_id}}',
        type: 'get',
        dataType: 'json',
        success: function(data){
          chart_data(data.report);
        }
      });
    },5000);
  });
</script>
<div id='container'>
<div style="text-align:center; padding: 100px;"><img src="/images/ajax-loader.gif" /></div></div>
