<script type='text/javascript'>
  $(document).ready(function(){
    setInterval(function(){
      $.ajax({
        url: '/test/data/{{= id}}',
        type: 'get',
        dataType: 'json',
        success: function(data){
          chart_data(data);
        }
      });
    },5000);
  });
</script>
<div id='container'></div>
<!--<div style="text-align:center; padding: 100px;"><img src="/images/ajax-loader.gif" /></div></div>-->
