body {
  background-color: #000000;
  background-image: url('/images/background.jpg'), url('/images/background_blue_bar.png');
  background-position: top center;
  background-repeat: no-repeat, repeat-y;
  color: #ffffff;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  background-image: url('/images/logo.png');
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 600px;
  position: relative;
}

#wrapper a {
  color: #008cff;
  text-decoration: none;
}

#wrapper a:hover {
  font-style: italic;
}

#wrapper #vote {
  position: absolute;
  top: 450px;
  left: 75px;
}

#wrapper #follow {
  position: absolute;
  top: 500px;
  left: 70px;
  width: 130px;
  font-family: SVBasicManualBook;
  font-size: 22px;
  color: #ffffff;
}

#wrapper #twitter {
  position: absolute;
  top: 530px;
  left: 75px;
  width: 130px;
}

#wrapper #twitter a {
  color: #d5ecff;
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
  font-family: SVBasicManualBook;
  font-size: 20px;
}

#wrapper #twitter a:hover {
  font-style: italic;
}

#wrapper #header {
  position: absolute;
  top: 50px;
  left: 320px;
  width: 640px;
}

#wrapper #header h1 {
  font-family: WickedGritRegular;
  font-size: 70px;
  margin: 0;
  padding: 0;
}

#wrapper #header h1 a {
  color: #ffffff;
}

#wrapper #header p {
  font-family: WickedGritRegular;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#wrapper #nav {
  position: absolute;
  top: 220px;
  left: 280px;
  width: 680px;
}

#wrapper #nav a {
  background-color: #008cff;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px 12px;
  font-family: SVBasicManualBook;
  font-size: 18px;
}

#wrapper #content {
  font-family: SVBasicManualBook;
  position: absolute;
  top: 250px;
  left: 280px;
  width: 680px;
  padding-bottom: 50px;
}

#wrapper #content h2 {
  font-size: 26px;
}

#wrapper #content h3 {
  font-size: 20px;
}

#wrapper #content p {
  font-size: 18px;
}

#wrapper a.button {
  background-color: #008cff;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px 12px;
  font-family: SVBasicManualBook;
  font-size: 18px;
}

#wrapper ul#errors {
  font-family: SVBasicManualBook;
  font-size: 16px;
  list-style: none;
  padding: 0 0 0 20px;;
}

#wrapper ul#errors li {
  color: #ff6666;
}

#wrapper form#register, #wrapper form#login {
  text-align: center;
}

#wrapper label {
  display: inline-block;
  width: 90px;
  font-family: SVBasicManualBook;
  font-size: 18px;
}

#wrapper input[type=text], #wrapper input[type=password] {
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
  margin: 0 0 3px 0;
  border: 0;
  font-size: 20px;
}

#wrapper input[type=submit] {
  background-color: #ffffff;
  color: #008CFF;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
}

#wrapper table#tests {
  width: 100%;
  background-color: #000000;
  border: 2px solid #333333;
}

#wrapper table#tests th {
  text-align: left;
  font-weight: bold;
  background-color: #333333;
  padding: 5px;
}

#wrapper table#tests td {
  padding: 5px;
}

#wrapper table#tests td .verified {
  color: #00ff00;
}

#wrapper table#tests td.commands a, #wrapper table#tests td .unverified a {
  background-color: #004c8c;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 0;
}

#wrapper #test-form {
  background-color: #000000;
  border: 2px solid #333333;
  padding: 10px;
}
#wrapper #test-form label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
#wrapper #test-form #target-container {
  margin-bottom: 20px;
}
#wrapper #test-form #protocol {
  font-family: SVBasicManualBook;
}
#wrapper #test-form #host {
  width: 200px;
}
#wrapper #test-form #port {
  width: 50px;
}
#wrapper #test-form #requests {
  width: 600px;;
  height: 100px;
}

